<div class="page-header">
  <h2><%= t(:title_editation) %> <%= t(:"title_settings") %></h2>
</div>

<p>
  <label><%= t(:label_facebook_link) %></label>
  <span class="editable"
        data-type="textarea"
        data-pk="<%= @fb_setting.try(:id) %>"
        data-url="<%= save_admin_settings_path({:format => 'json'}) %>"
        data-title="<%= t(:title_facebook_popup) %>" data-name='setting[facebook_url]'
        data-value="<%= @fb_setting.try(:value).to_s %>"><%= @fb_setting.try(:value).to_s %></span>
</p>

<p><label><%= t(:label_page_footer) %></label></p>
<% available_languages.each do |lang| %>
  <p>
    <%= image_tag flag_file(lang.to_s) %>
    <span class="editable"
          data-type="textarea"
          data-pk="<%= @fo_setting[lang].try(:id) %>"
          data-url="<%= save_admin_settings_path({:format => 'json'}) %>"
          data-title="<%= t(:title_page_footer_popup) %>"
          data-name='setting[text_page_<%= lang.to_s %>]'
          data-value="<%= @fo_setting[lang].try(:value).to_s %>"><%= @fo_setting[lang].try(:value).to_s %></span>
  </p>
<% end %>
