<p><%= t(:title_welcome) %> <%= @resource.name %>!</p>

<p><%= t(:email_change_pwd1) %></p>

<p><%= link_to t(:title_change_my_password), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t(:email_change_pwd2) %></p>
<p><%= t(:email_change_pwd3) %></p>
